.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Map {
  width: 100% !important;
  position: relative;
}


.RouteInfo {
  position: sticky;
  bottom: 10px;
  width: 100%;
  left: 0;
  text-align: left;

  background: white;

  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% auto;

  transition: 0.5s ease;
}

.RouteInfo-Description {
  max-width: 60%;
  font-size: 16px;
  line-height: 20px;

  margin-bottom: 20px;
}

.RouteInfo-Gradient {
  width: 100%;
  padding: 1px 20px 30px;
  margin-top: 20px;

  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 62%, rgba(255,255,255,0) 100%);
}

.RouteContent {
  padding: 0 50px;
}

@media (max-width: 991px) {
  .RouteContent {
    padding: 0;
  }  
}